@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 80vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
    body {
        background-image: linear-gradient(to top, rgba(46, 105, 28, 0.37), rgb(37, 37, 37));
    }
    .campo > input {
        background-color: rgb(27, 114, 27);
        font-size: 1em;
        width: 90%;
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translateY(-12px);

    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 950px;
    }
    #login > #imagem {
        float: right;
        width: 50%;
    }
    #login > #formulario {
        float: left;
        width: 50%;
    }
    body {
        background-image: linear-gradient(to top, rgba(46, 105, 28, 0.37), rgb(37, 37, 37));
    }
    .campo > input {
        background-color: rgb(27, 114, 27);
        font-size: 1em;
        width: 90%;
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translateY(-12px);

    }
}
#formulario > h1 {
    font-size: 2em;
}
#formulario > p {
    font-size: 1.2em;
}